{{!--
    Form Property Input
    =============================

    `charcoal/admin/property/input/formio/form`
--}}

<div id="{{ inputId }}" style="min-height: 125px">
    <button class="js-form-builder-create"><i class="fa fa-plus"></i></button>

    <div class="js-form-builder"></div>
    <div class="js-loader charcoal-loader_box -is-loading">
        <div class="charcoal-loader_spinner">
            <i class="charcoal-loader_spinner_icon fa-3x fa fa-spinner fa-pulse"></i>
        </div>
    </div>
    <input type="hidden" name="{{ inputName }}" value="{{ inputVal }}" class="js-input">
</div>

{{ assets.enqueue.css.formio_css }}
{{ assets.enqueue.js.formio_js }}
{{# assets.inject.js }}
    var inputOptions = {
        id           : '{{ inputId }}',
        type         : '{{ inputType }}',
        data         : {{& controlDataForJsAsJson }}
    };

    Charcoal.Admin.manager().add_property_input(inputOptions);
{{/ assets.inject.js }}
